tr.sp-hidden( height = 12): td
tr: td( align = center, bgcolor = '#f2f2f2' )
  +mso
    +table.maw600(  width = '100%' )
      tr( height = 12 )
        td( width = '2%' )
        td( width = '16%' )
        td( width = '2%' )
        td( width = '78%' )
        td( width = '2%' )
      tr
        td
        td.fz12( colspan = 3 )
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam maxime animi eaque, molestias a ut aut ea perferendis eum atque dolor. Non molestiae quis, modi officiis, reiciendis similique optio?
        td
      tr( height = 7 ): td.bdb( colspan = 5 )
      tr( height = 6 ): td( colspan = 5 )
      tr
        td
        td.fz12( align = right )
          | support:
        td
        td.fz12
          a( target = blank, href = 'mailto:' + base.supportmail )= base.supportmail
      tr( height = 6 ): td( colspan = 5 )
      tr
        td
        td.fz12( align = right )
          | help:
        td
        td.fz12
          a( target = blank, href = base.helppage )= base.helppage
      tr( height = 6 ): td( colspan = 5 )
      tr
        td
        td.fz12( align = right, colspan = 3 )
          | copyright &copy; 2010 - 2017 #{base.host}
        td
      tr( height = 12 ): td( colspan = 5 )