@import 'nib'
a
  cursor pointer
.maw600
  max-width 600px
.maw100p
  max-width 100%

.fz12
  font-size 12px
  line-height 14px
.fz14
  font-size 14px
  line-height 18px
.fz14s
  font-size 14px
  line-height 14px
.fz16
  font-size 16px
  line-height 20px

.bdc1
  border-bottom 1px solid #DBDBDB