@import 'nib'
json('../../data/config.json')

sp()
  @media screen and ( max-width: 600px )
    {block}

td
  padding: 0
  line-height: 0
  word-wrap: break-word
  word-break: break-all

body
  margin: 0
  padding: 0

img
  height: auto
  line-height: 100%
  outline: none
  text-decoration: none
  margin: 0
  padding: 0
  vertical-align: middle

a
  &:hover
    text-decoration: underline
  &:visited
    text-decoration: underline
    color: #3366cc
  &:link
    text-decoration: underline
    color: #3366cc
  &:active
    text-decoration: underline

+sp()
  .sp-hidden
    display none
  .fz12
    font-size 10px !important
    line-height 12px !important
  .fz14
    font-size 12px !important
    line-height 14px !important
  .fz14s
    font-size 12px !important
    line-height 12px !important
  .fz16
    font-size 14px !important
    line-height 18px !important
