@import 'nib'

td
  padding: 0
  line-height: 0
  word-wrap: break-word
  word-break: break-all

body
  margin: 0
  padding: 0

img
  height: auto
  line-height: 100%
  outline: none
  text-decoration: none
  margin: 0
  padding: 0
  vertical-align: middle

a
  &:hover
    text-decoration: underline
  &:visited
    text-decoration: underline
    color: #3366cc
  &:link
    text-decoration: underline
    color: #3366cc
  &:active
    text-decoration: underline
