extends ../../module/pug/_layout

block vars
  //- ページid
  - let pageid = '20171001'

block contents
  tr: td._center
    +mso
      +table.-maw600._w100p( bgcolor = col.danger )
        +grid( 6, [ '2%', '96%', '2%' ] )
        tr
          td._row2
          td.fz14._left: font( color = col.white ): b= text.tx01
          td._row2
        tr: td._h6
        tr( bgcolor = col.gray_lighter )
          td._row3
          td._h6
          td._row3
        tr( bgcolor = col.gray_lighter )
          td.fz12._left: font( color = col.gray )= text.tx02
        tr._h6( bgcolor = col.gray_lighter ): td
  tr: td._center
    +mso
      +table.-maw600._w100p( bgcolor = '#aaeeff' )
        +grid( 12, [ '2%', '2%', '43%', '2%', '2%', '2%', '43%', '2%', '2%' ] )
        - for( var i = 0; i < items.length; i = i + 2 )
          - let leftItem = items[i]
          - let rightItem = items[i+1]
          tr
            td._row6
            td.fz12._col3
              img.-maw100p._w282( alt = leftItem.title, src = leftItem.imgpath )
            td._row6
            if rightItem
              td.fz12._col3
                img.-maw100p._w282( alt = rightItem.title, src = rightItem.imgpath )
            else
              td._col3._row6
            td._row6
          tr._h6
            td._col3( bgcolor = col.white )
            if rightItem
              td._col3( bgcolor = col.white )
          tr
            td( bgcolor = col.white )
            td.fz14( bgcolor = col.white ): font( color = col.gray_darker ): b= leftItem.title
            td( bgcolor = col.white )
            if rightItem
              td( bgcolor = col.white )
              td.fz14( bgcolor = col.white ): font( color = col.gray_darker ): b= rightItem.title
              td( bgcolor = col.white )
          tr._h6
            td._col3( bgcolor = col.white )
            if rightItem
              td._col3( bgcolor = col.white )
          tr
            td( bgcolor = col.white )
            td.fz12._top( bgcolor = col.white ): font( color = col.gray )= leftItem.detail
            td( bgcolor = col.white )
            if rightItem
              td( bgcolor = col.white )
              td.fz12._top( bgcolor = col.white ): font( color = col.gray )= rightItem.detail
              td( bgcolor = col.white )
          tr._h6
            td._col3( bgcolor = col.white )
            if rightItem
              td._col3( bgcolor = col.white )
          tr._h12: td._col9
