tr: td( align = center, bgcolor = col.info_bg )
  +mso
    +table( class = 'maw600', width = '100%' )
      +grid( 6, [ '2%,', '96%', '2%' ] )
      tr
        td( rowspan = 2 )
        td.fz12( align = left )
          font( color = col.gray_light )
            | このメールがご覧になれない場合は
            a( href = 'http://google.com/', target = blank ) こちら
            | をタップしてください。
        td( rowspan = 2 )
      tr( height = 6 ): td
tr.sp-hidden( height = 12): td
tr: td.bdc1( align = center )
  +mso
    +table.maw600( width = '100%' )
      tr
        td.fz14s( align = left, width = '75%' )
          a( rel = 'nofollow', target = blank, http = 'http://google.com/' )
            img.maw100p( src = 'https://picsum.photos/450/80?image=910', alt = base.sitename, width = 450, border = 0 )
        td.fz14s( align = right, width = '25%' )
          img.maw100p( src = 'https://picsum.photos/150/80?image=909' alt = '', width = 150 )