// header
tr: td._center( bgcolor = col.info_bg )
  +mso
    +table.-maw600._w100p
      +grid( 6, [ '2%', '96%', '2%' ] )
      tr
        td._row2
        td.fz12._left
          font( color = col.gray_light )
            | このメールがご覧になれない場合は
            a._blank( href = 'http://google.com/' ) こちら
            | をタップしてください。
        td._row2
      tr._h6: td
tr.sp-hidden._h12: td
tr: td.bdc1._center
  +mso
    +table.-maw600._w100p
      tr
        td.fz14s._left._w75p
          a._blank._nofollow( http = 'http://google.com/' )
            img.-maw100p._w450._bd0( src = 'https://picsum.photos/450/80?image=910', alt = base.sitename )
        td.fz14s._right._w25p
          img.-maw100p._w150( src = 'https://picsum.photos/150/80?image=909', alt = '' )
// /header