mixin body
  body( text = col.black, bgcolor = col.white, link = col.link, vlink = col.link_visited )
    block

mixin table
  table( border-spacing = 0, border = 0, cellpadding = 0, cellspacing = 0 )&attributes(attributes)
    block

mixin grid(height,arr)
  tr( height = height )
    each val in arr
      td( width = val )

mixin mso
  | <!--[if (mso)|(IE)]><table width="600" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td><![endif]-->
  block
  | <!--[if (mso)|(IE)]></td></tr></table><![endif]-->

-
  let
    left = 'left',
    center = 'center',
    right = 'right',
    top = 'top',
    middle = 'middle',
    bottom = 'bottom',
    blank = '_blank';
