extends module/_layout

block vars
  //- ページid
  - let pageid = 'mail2017xxxx'

block contents
  tr: td( align = 'center' )
    +mso
      +table( class = 'maw600', width = '100%', bgcolor = '#d23933' )
        tr( height = 6 )
          td( width = '2%', rowspan = 3 )
          td( width = '96%' )
          td( width = '2%', rowspan = 3 )
        tr
          td.fz14( align = 'left' )
            font( color = '#ffffff' )
              b
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Distinctio odit, veritatis nulla enim blanditiis dolor repudiandae quod maxime assumenda qui perferendis dolorum suscipit fugit magni, molestiae sapiente? Recusandae saepe, nulla.
        tr: td( height = 6 )
        tr( bgcolor = '#eeeeee' )
          td( rowspan = 3 )
          td( height = 6 )
          td( rowspan = 3 )
        tr( bgcolor = '#eeeeee' )
          td.fz12( align = 'left' )
            font( color = '#555555' )
              | Minima culpa repellendus at sint omnis, quibusdam nemo asperiores, assumenda laborum ullam perspiciatis, sequi possimus officia nam ea maiores cum, ducimus illo? Quidem blanditiis porro asperiores, at mollitia ab aliquam.
        tr( bgcolor = '#eeeeee', height = 6 ): td
  tr: td( align = 'center' )
    +mso
      +table( class = 'maw600', width = '100%', bgcolor = '#aaeeff' )
        tr( height = 12 )
          td( width = '2%' )
          td( width = '2%' )
          td( width = '43%' )
          td( width = '2%' )
          td( width = '2%' )
          td( width = '2%' )
          td( width = '43%' )
          td( width = '2%' )
          td( width = '2%' )
        - for( var i = 0; i < items.length; i = i + 2 )
          - let left = items[i]
          - let right = items[i+1]
          tr
            td
            td.fz12( colspan = 3 )
              img.maw100p( alt = left.title, src = left.imgpath, width = 282 )
            - if( right )
              td
              td.fz12( colspan = 3 )
                img.maw100p( alt = right.title, src = right.imgpath, width = 282 )
              td
            - else
              td( colspan = 5, rowspan = 6 )
          tr( height = 6 )
            td
            td( colspan = 3, bgcolor = '#ffffff' )
            - if( right )
              td
              td( colspan = 3, bgcolor = '#ffffff' )
              td
          tr
            td
            td( bgcolor = '#ffffff' )
            td.fz14( bgcolor = '#ffffff' ): font( color = '#333333' ): b= left.title
            td( bgcolor = '#ffffff' )
            - if( right )
              td
              td( bgcolor = '#ffffff' )
              td.fz14( bgcolor = '#ffffff' ): font( color = '#333333' ): b= right.title
              td( bgcolor = '#ffffff' )
          tr( height = 6 )
            td
            td( colspan = 3, bgcolor = '#ffffff' )
            - if( right )
              td
              td( colspan = 3, bgcolor = '#ffffff' )
              td
          tr
            td
            td( bgcolor = '#ffffff' )
            td.fz12( bgcolor = '#ffffff', valign = 'top' ): font( color = '#666666' )= left.detail
            td( bgcolor = '#ffffff' )
            - if( right )
              td
              td( bgcolor = '#ffffff' )
              td.fz12( bgcolor = '#ffffff', valign = 'top' ): font( color = '#666666' )= right.detail
              td( bgcolor = '#ffffff' )
          tr( height = 6 )
            td
            td( colspan = 3, bgcolor = '#ffffff' )
            - if( right )
              td
              td( colspan = 3, bgcolor = '#ffffff' )
              td
          tr( height = 12 ): td( colspan = 9 )
