extends module/_layout

block vars
  //- ページid
  - let pageid = 'mail20171001'

block contents
  tr: td( align = center )
    +mso
      +table.maw600( width = '100%', bgcolor = '#d23933' )
        tr( height = 6 )
          td( width = '2%', rowspan = 3 )
          td( width = '96%' )
          td( width = '2%', rowspan = 3 )
        tr
          td.fz14( align = left )
            font( color = col.white ): b
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Distinctio odit, veritatis nulla enim blanditiis dolor repudiandae quod maxime assumenda qui perferendis dolorum suscipit fugit magni, molestiae sapiente? Recusandae saepe, nulla.
        tr: td( height = 6 )
        tr( bgcolor = col.gray_lighter )
          td( rowspan = 3 )
          td( height = 6 )
          td( rowspan = 3 )
        tr( bgcolor = col.gray_lighter )
          td.fz12( align = left )
            font( color = col.gray )
              | Minima culpa repellendus at sint omnis, quibusdam nemo asperiores, assumenda laborum ullam perspiciatis, sequi possimus officia nam ea maiores cum, ducimus illo? Quidem blanditiis porro asperiores, at mollitia ab aliquam.
        tr( bgcolor = col.gray_lighter, height = 6 ): td
  tr: td( align = center )
    +mso
      +table.maw600( width = '100%', bgcolor = '#aaeeff' )
        tr( height = 12 )
          td( width = '2%' )
          td( width = '2%' )
          td( width = '43%' )
          td( width = '2%' )
          td( width = '2%' )
          td( width = '2%' )
          td( width = '43%' )
          td( width = '2%' )
          td( width = '2%' )
        - for( var i = 0; i < items.length; i = i + 2 )
          - let leftItem = items[i]
          - let rightItem = items[i+1]
          tr
            td( rowspan = 6 )
            td.fz12( colspan = 3 )
              img.maw100p( alt = leftItem.title, src = leftItem.imgpath, width = 282 )
            td( rowspan = 6 )
            if rightItem
              td.fz12( colspan = 3 )
                img.maw100p( alt = rightItem.title, src = rightItem.imgpath, width = 282 )
            else
              td( colspan = 3, rowspan = 6 )
            td( rowspan = 6 )
          tr( height = 6 )
            td( colspan = 3, bgcolor = col.white )
            if rightItem
              td( colspan = 3, bgcolor = col.white )
          tr
            td( bgcolor = col.white )
            td.fz14( bgcolor = col.white ): font( color = col.gray_darker ): b= leftItem.title
            td( bgcolor = col.white )
            if rightItem
              td( bgcolor = col.white )
              td.fz14( bgcolor = col.white ): font( color = col.gray_darker ): b= rightItem.title
              td( bgcolor = col.white )
          tr( height = 6 )
            td( colspan = 3, bgcolor = col.white )
            if rightItem
              td( colspan = 3, bgcolor = col.white )
          tr
            td( bgcolor = col.white )
            td.fz12( bgcolor = col.white, valign = top ): font( color = col.gray )= leftItem.detail
            td( bgcolor = col.white )
            if rightItem
              td( bgcolor = col.white )
              td.fz12( bgcolor = col.white, valign = top ): font( color = col.gray )= rightItem.detail
              td( bgcolor = col.white )
          tr( height = 6 )
            td( colspan = 3, bgcolor = col.white )
            if rightItem
              td( colspan = 3, bgcolor = col.white )
          tr( height = 12 ): td( colspan = 9 )
