@import 'nib'
@import '../../module/styl/_inline'

.maw240
  max-width 240px

.maw360
  max-width 360px

.-p2p
  padding 2%
.-p022p
  padding 0 2% 2%

a > img
  border 0 !important
.-bdn
  border 0 !important
  text-decoration none !important
  *
    border 0 !important
    text-decoration none !important
