@import 'nib'
@import '../../module/styl/_insert'

.clear
  clear both

+sp()
  .flex-parent
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content flex-start
    align-items stretch
    padding 5px
    box-sizing border-box
  .resp_division
    display flex
    flex-direction column
    flex-wrap nowrap
    justify-content flex-start
    align-items stretch
    border 5px solid col-white
    box-sizing border-box
    width 50% !important
    background-color: col-black
    & > table
      width 100% !important
      height auto !important
    & > .maw240,
    & > .maw360
      width 100% !important
      height auto !important
      max-width 300px !important
      float none
      img
        width 100% !important