extends ../../module/pug/_layout

block vars
  //- ページid
  - let pageid = '20171101'

block contents
  tr: td._center
    +mso
      +table.-maw600._w100p( bgcolor = col.danger )
        +grid( 6, [ '2%', '96%', '2%' ] )
        tr
          td._row2
          td.fz14._left
            font( color = col.white ): b
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Distinctio odit, veritatis nulla enim blanditiis dolor repudiandae quod maxime assumenda qui perferendis dolorum suscipit fugit magni, molestiae sapiente? Recusandae saepe, nulla.
          td._row2
        tr: td._h6
        tr( bgcolor = col.gray_lighter )
          td._row3
          td._h6
          td._row3
        tr( bgcolor = col.gray_lighter )
          td.fz12._left
            font( color = col.gray )
              | Minima culpa repellendus at sint omnis, quibusdam nemo asperiores, assumenda laborum ullam perspiciatis, sequi possimus officia nam ea maiores cum, ducimus illo? Quidem blanditiis porro asperiores, at mollitia ab aliquam.
        tr._h6( bgcolor = col.gray_lighter ): td
  tr.sp-hidden._h12: td
  tr: td._center
    +mso
      +table.-maw600._w100p
        tr._h12
          td.clear
            div.flex-parent
              - for( var i = 0; i < items.length; i++ )
                - let item = items[i]
                div.resp_division
                  if i !== items.length - 1
                    - instHeight = 162
                  else
                    - instHeight = 150
                  +table.maw240.clear._left._w40p( height = instHeight )
                    tr
                      td._w100p._top( bgcolor = col.black )
                        img.-maw100p._w240( alt = item.title, src = item.imgpath )
                    if( i != items.length - 1 )
                      tr.sp-hidden._h12: td
                  +table.maw360._left._w60p( height = instHeight )
                    tr( height = 35 )
                      td._w100p._top( bgcolor = col.black )
                        div.-p2p.fz16
                          b: font( color = col.gray_lighter )= item.title
                    tr
                      td._w100p._top( bgcolor = col.black )
                        div.-p022p.fz14
                          b: font( color = col.gray_lighter )= item.detail
                    if( i != items.length - 1 )
                      tr.sp-hidden._h12: td
